version: "3.1"

services:
  # rskj:
  #   build: ./rskj
  #   ports:
  #     - 4444:4444
  #     - 4445:4445
  #     - 30305:30305
  #   volumes:
  #     - ./data/rskj/database:/var/lib/rsk/database/regtest
  #     - ./data/rskj/logs:/var/log/rsk

  ganache:
    image: trufflesuite/ganache-cli:latest
    command:
      - "-d"
      - "--db=/app/database"
      - "--networkId=8545"
    ports:
      - 8545:8545
    volumes:
      - ./data/ganache/database:/app/database
